@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* BASIC RESET */
:root {
  --primaryCol: #5840d9;
  --secondaryCol: #e4e1ef;
  --space: 3rem;
  --space-medium: 4rem;
  --space-smallest: 1rem;
  --space-small: 2rem;
  --space-big: 8rem;
  --colDark: #1c1c1c;
  --colGrey1: #444;
  --defaultFontSize: 1.6rem;
  --tertiary-heading: 3rem;
  --secondary-heading: 4rem;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
}

/* Default Styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--colDark);
  font-family: "lato";
  font-weight: 400;
  line-height: 1.3;
}

.image-reset {
  width: 100%;
}

.container {
  max-width: 112rem;
  margin: 0 auto;
  /* border: solid 2px black; */
}

.heading-secondary {
  font-size: var(--secondary-heading);
  color: var(--primaryCol);
  font-weight: 700;
  text-align: center;
  margin-bottom: var(--space-big);
}

.heading-tertiary {
  font-size: var(--tertiary-heading);
  color: var(--primaryCol);
  font-weight: 600;
  margin-bottom: var(--space);
}

.heading-fouth {
  font-size: 2.5rem;
  color: inherit;
}

.section-styling-one {
  background-color: #f1f0f6;
  padding: 8rem 2rem;
}

.section-styling-two {
  background-color: #e4e1ef;
  padding: 8rem 2rem;
}

/* .containe {
  width: 40%;
  margin: 0 auto;
} */

/* BASIC RESET ENDS */

header {
  width: 100%;
  height: 8rem;
  background-color: var(--primaryCol);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10rem;
}

.logo {
  height: 6rem;
}

.hamburger {
  display: none;
}

.nav-bar ul {
  display: flex;
  list-style: none;
}

.nav-bar ul li a {
  color: var(--secondaryCol);
  display: block;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 1rem 2.5rem;
  border-radius: 5rem;
  transition: 0.2s;
  margin: 0 0.5rem;
}

.nav-bar ul li a:hover {
  color: var(--primaryCol);
  background-color: var(--secondaryCol);
}

.nav-bar ul li a:active {
  color: var(--primaryCol);
  background-color: var(--secondaryCol);
}

/* HAM BURGER MENU DESIGN */

.burger {
  display: none;
}

.burger div {
  width: 2.5rem;
  height: 0.3rem;
  background-color: #fff;
  margin-bottom: 0.5rem;
  transition: all ease 0.5s;
}

/* hero section */

.hero {
  background-color: var(--secondaryCol);
  padding: 0 3rem;
  /* border: solid 2px red; */
}

.herobox {
  /* border: solid 2px black; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 92vh;
}

.hero-text {
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: var(--space);
  /* font-family: "Roboto", sans-serif; */
}

.hero-textA {
  display: block;
  line-height: 1.2;
}

.hero-subText {
  font-size: 2.5rem;
  margin-bottom: var(--space);
  color: var(--colGrey1);

  /* width: 40ch; */
}

.hero-imageBox {
  width: 40rem;
  /* transform: rotate(-12deg); */
}

/* BUTTONS STYLES */

.btn {
  display: inline-block;
  padding: 1.5rem 2.5rem;
  border: none;
  border-radius: 1rem;
}

.btn-indigo {
  background-color: var(--primaryCol);
  color: #fff;
}

.btn-white {
  background-color: var(--secondaryCol);
  color: var(--primaryCol);
  border: 1px solid var(--primaryCol);
}

.buttons button {
  font-size: 2rem;
}

.buttons button:not(:last-child) {
  margin-right: var(--space);
}

/* main section */

/* section one */

.explore-box {
  /* background-color: #222; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.explore {
  /* background-color: #ccc; */
  width: 45%;
}

.explore-header {
  margin-bottom: var(--space-small);
}

.explore p {
  font-size: 2rem;
}

.assets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: 30rem;
}

.assets__coin {
  width: 12rem;
  height: 12rem;
  background-color: #f7f7f7;
  box-shadow: var(--box-shadow);
  margin-right: var(--space);
  padding: 1.5rem;
  text-align: center;
}

.coin-name {
  font-size: var(--defaultFontSize);
  font-weight: 600;
}

.coin-price {
  font-size: var(--defaultFontSize);
  font-weight: 600;
  color: rgb(194, 115, 31);
}

/* Section two */

.begin-your-journey {
  /* margin-bottom: var(--space-big); */
  text-align: center;
}

.exchange {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
}

.exchange__image {
  flex: 1 1 20%;
  margin-right: 7rem;
}

.exchange__text h4 {
  font-size: var(--defaultFontSize);
  text-transform: uppercase;
  margin-bottom: var(--space);
}

.features {
  font-size: 2rem;
}

.features p span {
  color: var(--primaryCol);
  font-weight: 800;
  margin-right: 1.5rem;
}

.features p {
  margin-bottom: var(--space);
}

.exchange__btn button {
  font-size: var(--defaultFontSize);
}

.exchange__btn button:not(:last-child) {
  margin-right: var(--space);
}

/* third section */

.send__image {
  flex: 1 1 100%;
  /* margin-left: 7rem; */
}

.send__text h4 {
  font-size: var(--defaultFontSize);
  text-transform: uppercase;
  margin-bottom: var(--space);
}

.send__text h3 {
  width: 90%;
  /* margin-bottom: var(--space); */
}

.send-paragraph {
  width: 80%;
  font-size: 2rem;
}

/* fourth section */

#why-us {
  padding: 8rem 2rem;
}

.why-us-box {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.why-us-wrapper img {
  width: 20rem;
  margin-bottom: var(--space-smallest);
}

.why-us-wrapper h4 {
  margin-bottom: var(--space-smallest);
}

.why-us-wrapper p {
  font-size: 1.6rem;
  width: 80%;
  margin: 0 auto;
}

/* burger animation */

.toggle .line-1 {
  transform: rotate(-45deg) translate(-5px, 7.5px);
}

.toggle .line-2 {
  opacity: 0;
}
.toggle .line-3 {
  transform: rotate(45deg) translate(-5px, -7.6px);
}

@media only screen and (max-width: 1320px) {
  header {
    padding: 0 5rem;
  }
}

@media only screen and (max-width: 1100px) {
  header {
    padding: 0 3rem;
  }

  .assets__coin {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 60%;
  }

  .logo {
    height: 5rem;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger div {
    width: 3rem;
    height: 0.3rem;
    background-color: var(--secondaryCol);
    margin: 6px 0;
    transition: all 0.1s;
  }

  .nav-bar {
    height: 0;
    position: absolute;
    top: 8rem;
    left: 0;
    right: 0;
    width: 100vw;
    /* border-top: 1px solid #fff; */
    background-color: var(--primaryCol);
    transition: 0.2s;
    overflow: auto;
  }

  .nav-bar.active {
    height: 40vh;
  }

  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 15% auto 8% auto;
    text-align: center;
    transition: 1s;
    transform: translateX(50px);
    opacity: 0;
  }

  .nav-bar ul.animate {
    transform: translateX(0);
    opacity: 1;
  }

  .nav-bar ul li a {
    margin-bottom: 1.2rem;
  }

  .hero {
    padding: 0;
  }

  .herobox {
    text-align: center;
    padding: 5rem 0 4rem;
    display: flex;
    flex-direction: column;
  }

  .hero-text {
    font-size: 6rem;
  }

  .hero-subText {
    font-size: 3rem;
  }

  .hero-textBox {
    margin-bottom: var(--space);
    flex: 1;
  }

  .exchange {
    flex-direction: column;

    /* border: 1px solid black; */
  }

  .begin-your-journey {
    margin-bottom: 5rem;
    font-size: 3.5rem;
  }

  .exchange__image {
    margin: 0 0 var(--space) 0;
  }

  .exchange__text {
    text-align: center;
  }

  .features {
    font-size: 1.6rem;
  }

  .why-us-box {
    flex-direction: column;
  }

  .why-us-wrapper:not(:last-child) {
    margin-bottom: var(--space-medium);
  }

  .send__image {
    flex: 1 1 100%;
    text-align: center;
    /* margin-left: 7rem; */
  }

  .send__text {
    text-align: center;
    margin-bottom: var(--space);
  }

  .send__text h3 {
    margin-bottom: var(--space-medium);
    margin: 0 auto var(--space);
  }

  .send-paragraph {
    width: 80%;
    font-size: 1.6rem;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  .hero-text {
    font-size: 5.5rem;
  }

  .hero-subText {
    font-size: 2.7rem;
  }

  .explore-box {
    flex-direction: column;
  }

  .explore {
    width: 100%;
    text-align: center;
    margin-bottom: var(--space);
  }

  .assets {
    width: 90%;
    flex-wrap: wrap;
    height: auto;
  }

  .explore h2 {
    font-size: 2.5rem;
  }

  .explore p {
    font-size: var(--defaultFontSize);
  }
}

@media (max-width: 464px) {
  .hero-text {
    font-size: 4rem;
  }

  .hero-subText {
    font-size: 1.6rem;
  }

  .buttons button {
    font-size: 1.4rem;
  }

  .logo {
    height: 3.8rem;
  }

  .hero-imageBox {
    width: 38rem;
    /* transform: rotate(-12deg); */
  }

  .explore {
    padding: 0 3%;
  }
}

@media only screen and (max-width: 398px) {
  .buttons {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
  }

  .buttons button:not(:last-child) {
    margin-bottom: var(--space);
    margin-right: 0;
  }

  .exchange__btn {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
  }

  .exchange__btn button:not(:last-child) {
    margin-bottom: var(--space);
    margin-right: 0;
  }

  .buttons button {
    font-size: 1.6rem;
  }

  .hero-text {
    font-size: 3.5rem;
  }

  .hero-subText {
    font-size: 1.8rem;
  }

  .hero-textBox {
    margin: 0;
    padding: 0 3%;
  }

  .hero-imageBox {
    width: 28rem;
    /* transform: rotate(-12deg); */
  }
}

@media only screen and (max-width: 319px) {
  .assets__coin {
    margin-right: 0;
  }
}
